@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 

body {
    font-family: "Roboto", "Sans-Serif";
    background-color: lightskyblue;
}

.welcome {
    align-items: center;
    color: white;
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.welcome span {
    color: blue
}