@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 

:root {
    --gr1: #000814;
    --gr2: #003566;
    --txt: #fff;
    --comp: #ffc300;
    --highlight: #a37d00;
}

body {
    font-family: "Roboto", "Sans-Serif";
    background-color: var(--gr1);
}

/* Holds everything together */
.wrapper {
    display: flex;
    flex-direction: column;
}

/* The welcome screen */
.welcome {
    align-items: center;
    justify-content: center;
    color: var(--txt);
    font-size: 25px;
    margin-top: 15%;
    text-align: center;
}

.welcome span {
    color: var(--comp);
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border: none;
    border-radius: 15px;
    color: var(--gr1);
    font-size: 20px;
    font-weight: 600;
    background: var(--comp);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: var(--highlight);
    text-decoration: none;
}

/* The cards screen */

.card-holder {
    display: grid;
    grid-template-rows: 33%;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

.card {
    padding: 1em;
    background-color: var(--gr2);
}

.card p {
    max-width: 20em;
}