/*--------------*/
/* Google Fonts */
/*--------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*-----------*/
/* Variables */
/*-----------*/

:root {
    --white: #fff;
    --pogg: #ffb5c1;
    --light-blue: #B0D0D3;
    --champagne: #EFE6A9;
    --melon: #ff31c1;
}

/*------------*/
/* Global CSS */
/*------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*----------------*/
/* Section Starts */
/*----------------*/

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

/*---------------*/
/* Header Starts */
/*---------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover {
    color: var(--pogg);
}

/*----------------*/
/* Content Starts */
/*----------------*/

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textbox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textbox h2 span {
    color: var(--pogg);
    font-size: 1.2em;
    font-weight: 900;
}

.content .textbox p {
    color: #333;

}

.content .textbox a {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background: var(--pogg);
    color: var(--white);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

/*--------------*/
/* Thumb Starts */
/*--------------*/

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

/*---------------*/
/* Circle Starts */
/*---------------*/

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pogg);
    clip-path: circle(600px at right 800px);
}

/*----------------*/
/* Mobile Support */
/*----------------*/

@media (max-width: 991px){
    header {
        padding: 20px;
    }
    header .logo {
        max-width: 60px;
    }
    
    header ul {
        display: none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(0);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul .navbar.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }

    header ul li a{
        font-size: 1.5em;
        margin: 5px 0;

    }

    section{
        padding: 20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textbox h2{
        font-size: 2.5em;
    }

    .content .textbox {
        max-width: 100%;
    }

    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 250px;
    }

    .thumb li img {
        max-width: 40px;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }

}